---
title: Upgrading an Individual Redis Service Instance
owner: London Services
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade an individual <%= vars.product_full %> on-demand service instance.

You can upgrade your service instances individually if an operator has made a
newer version of the tile available and has enabled individual service instance upgrades.
For the operator procedure, see [Enable Individual Service Instance Upgrades](./upgrade.html#individual-upgrades).


## <a id="prereq"></a> Prerequisites

Before you can upgrade individual <%= vars.product_short %> service instances,
you must have the cf CLI v6.46.0 or later.


## <a id="prereq"></a> Upgrade a Service Instance

To upgrade a single service instance:

1. Confirm that an upgrade is available for the service instance by running:

    ```
    cf services
    ```

    The upgrade is available when the `upgrade available` column in the output says `yes`, for example:

    <pre class="terminal">
    $ cf services
    Getting services in org system / space system as admin...

    name    service    plan             last operation    broker     upgrade available
    testSI  p.redis    on-demand-cache  create succeeded  p.redis    yes
    </pre>

1. Upgrade the service instance by running:

    ```
    cf update-service SERVICE-INSTANCE --upgrade
    ```

    Where `SERVICE-INSTANCE` is the name of the service instance that you want to upgrade.

1. When prompted, confirm that you want to update.
