---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-1-0"></a> v3.1.0

**Release Date: March 1, 2022**

### Features

New features and changes in this release:

- **Option to enforce TLS:**
  Operators can now choose to enforce TLS for client connections for all service instances.
  When this option is selected, connections without TLS are rejected.
  For more information, see [On-Demand Service Settings](installing.html#on-demand-config).

- **Custom tags:**
  There is a new field in the tile **On-Demand Service Settings** page for tags that apply to the
  cloud provider. The accepted format depends on the underlying Cloud Provider.
  For example, Google Cloud Platform (GCP) does not allow uppercase characters.
  For more information, see [On-Demand Service Settings](installing.html#on-demand-config).

- **Paid plan:**
  Operators can now indicate if a service plan is free or paid.
  The plan is marked with an asterisk in the `cf marketplace` list and labeled "paid" in the
  "free or paid" column when individual plans are listed. This feature is "free" by default.
  For more information, see [On-Demand Plan Settings](installing.html#on-demand-plan-config).


### Known Issues

There are no known issues for this release.


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.208</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11 and 2.12</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.27</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.229.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.3.8</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.16</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.6</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
